/*
 * Page sections
 * -------------------------------------------------------------------------- */

%wrapper
  max-width: 35rem
  padding: 2rem 5%
  margin: 0 auto

.page-section
  @extend %wrapper

.page-subsection
  padding: 1rem 0
