/*
 * Page sections
 * -------------------------------------------------------------------------- */

.page-section
  max-width: $content-width
  padding: 2rem percentage($header-offset / $total-width) 0

  +viewport(wide)
    padding-right: $header-offset
    padding-left: $header-offset

  &:last-of-type
    padding-bottom: $header-offset * 0.6

  h1
    color: $brand-green
    font-family: $typekit-sans-serif-stack
    font-size: 2rem
    line-height: 1.2

.page-subsection
  padding: 1rem 0 0

  h1
    color: inherit
    font-size: 1.5rem


/*
 * Page header & logo
 * -------------------------------------------------------------------------- */

.page-header
  background: $header-background

  .page-section
    padding-top: 3rem
    padding-bottom: 2rem

    +viewport(wide)
      padding-top: $header-offset - 15px
      padding-bottom: $header-offset * 0.6

.page-logo
  +image-replacement('logo.png', $header-background)
  margin-bottom: 2rem
  color: $brand-dark-gray


/*
 * Speakers & organizers
 * -------------------------------------------------------------------------- */

.avatar
  width: 50px
  height: 50px
  border-radius: 50%

+viewport(wide)
  .organizers
    +clearfix()

    .organizer
      +box-sizing(border-box)
      width: 50%
      float: left

.organizer
  font: 0.85em $typekit-sans-serif-stack
  +clearfix()

.organizer-image
  float: left
  padding-right: 10px

.organizer-name
  padding-top: 2px
  text-transform: uppercase

.speaker
  padding-left: 60px

  .speaker-image img
    position: absolute
    margin-left: -60px

.speaker-name
  font-size: 0.85em
  font-family: $typekit-sans-serif-stack
  text-transform: uppercase

  a
    text-transform: none

.speaker-presentation-title
  font-weight: bold

  a
    font-weight: normal

.speaker-presentation-description
  margin-top: 0.5em
  font-size: 0.85em

.speaker-presentation-description--special
  @extend .speaker-presentation-description
  margin-top: 0
  font-style: italic
