/*
 * Page sections
 * -------------------------------------------------------------------------- */

.page-section
  max-width: 35rem
  padding: 2rem 5%
  margin: 0 auto

  h1
    margin: 0
    color: #9fce56
    font-family: $typekit-sans-serif-stack
    font-size: 2rem

.page-subsection
  padding: 1rem 0

  h1
    color: inherit
    font-size: 1.5rem
