/*
 * Variables
 * -------------------------------------------------------------------------- */

$default-color: #666
$default-background: #fff
$default-font-stack: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif

$typekit-sans-serif-stack: 'klavika-web', $default-font-stack
$typekit-serif-stack: 'skolar', $default-font-stack

$brand-green: #9fce56
$brand-light-green: #bcfa5f
$brand-dark-gray: #494949

$link-color: #883496
$link-active-color: #d40224

$header-background: #f4f4f4
$header-offset: 100px

$content-width: 550px
$total-width: $content-width + $header-offset * 2


/*
 * Mixins
 * -------------------------------------------------------------------------- */

@mixin viewport($type)
  @if $type == 'narrow'
    @media (max-width: $total-width - 1px)
      @content

  @if $type == 'wide'
    @media (min-width: $total-width)
      @content

@mixin image-replacement($image, $background-color: transparent)
  $image-width: image-width($image) / 2
  $image-height: image-height($image) / 2

  &, &:before
    overflow: hidden
    width: $image-width
    height: $image-height

  &:before
    content: ''
    position: absolute
    background: $background-color asset-data-uri($image) no-repeat
    +background-size($image-width $image-height)

@mixin background-image($image, $image-2x, $background-color: transparent)
  $image-width: image-width($image)
  $image-height: image-height($image)

  background: $background-color asset-data-uri($image) no-repeat
  +background-size($image-width $image-height)

  @media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)
    background-image: asset-data-uri($image-2x)
