@charset 'utf-8'

$default-color: #666
$default-font-stack: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif

$brand-green: #9fce56
$brand-light-green: #bcfa5f
$brand-dark-gray: #494949

$typekit-sans-serif-stack: 'adelle-sans', $default-font-stack
$typekit-serif-stack: 'skolar', $default-font-stack

$header-background: #f4f4f4

@import 'compass'
@import 'base'
@import 'main'
