- plural ||= false

.page-notice
  %section.page-notice-wrapper
    %h1.hidden Call for papers
    %p Masz ciekawy temat, którym chciałbyś lub chciałabyś się podzielić? Interesujące case study? Szukamy prelegentów na kolejne&nbsp;#{plural ? 'spotkania' : 'spotkanie'}:
    %p.button-container
      %a.button{ href: 'mailto:info@uxwroclaw.pl?subject=UXwrocław%20zgłoszenie' } Wystąp na UX Wrocław
