.page-notice
  %section.page-notice-wrapper
    %h1.hidden Call for papers
    %p Masz ciekawy temat, którym chciałbyś lub chciałabyś się podzielić? Pouczające case study? Szukamy prelegentów na kolejne&nbsp;spotkanie:
    %p.button-container
      %a.button{ href: 'mailto:info@uxwroclaw.pl?subject=Call%20for%20papers' } Call for papers
