%section.page-section
  %h1 Dziesiąte spotkanie

  .details
    %dl.detail-date
      %dt.hidden Data spotkania
      %dd.detail-date-day 9 grudnia 2016
      %dd.detail-date-time godzina 19:00
    %dl.detail-location
      %dt.hidden Miejsce spotkania
      %dd.detail-location-name <a href="http://monterail.com/">Monterail</a>
      %dd.detail-location-address Oławska 27-29 / 2 piętro

  %section.page-subsection
    %h1 Prezentacje

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/bartoszolchowka.jpg', class: 'avatar', alt: 'Bartosz Olchówka'
      %dt.speaker-presentation-title Which problem do I solve?
      %dd.speaker-name Bartosz Olchówka
      %dd.speaker-presentation-description Opowiem o tym, jak ważne jest zrozumienie problemu, zanim będziemy go w stanie dobrze rozwiązać. Przedstawię częste pułapki, które skutkują projektami potrzebnymi wszystkim... poza ich użytkownikami. Prezentacja będzie prowadzona w języku angielskim.

    %dl.speaker
      %dt.speaker-presentation-title Jutro jest juz dzisiaj: UX dla Augumented Reality na przykladzie HoloLens
      %dd.speaker-presentation-description W prelekcji przedstawismy doswiadczenia w praktycznych projektach z Microsoft HoloLens. Jakie zmiany czekaja w porownaniu do computerow lub smartfonow. Jakie nowe wyzwania ale i mozliwosci pojawiaja sie na horyzoncie.

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/marek_czarzbon.jpg', class: 'avatar', alt: 'Marek Czarzbon'
      %dd.speaker-name Marek Czarzbon
      %dd.speaker-presentation-description Założyciel firmy Made In Holo, który jest start up’em w dziedzinie AR, dzialajaca we Wroclawiu. Absolwent Informatyki na Uniwerystecie w Dortmundzie i Graphic & Design w Bochum. Fascynuje go praktycznie zastosowanie współczesnych technologii w biznesowych procesach.

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/marta_smektala.jpg', class: 'avatar', alt: 'Marta Smektała'
      %dd.speaker-name Marek Smektała
      %dd.speaker-presentation-description UX/UI and Graphic Designer. Absolwentka informatyki na wydziale Matematyki i Informatyki UAM w Poznaniu. Realizuje projekty UX i UI dla klientów i na potrzeby wewnętrzne. Po godzinach zajmuje się… również UX, zaangażowana w wiele branżowych wydarzeń i inicjatyw. Jest także pomysłodawczynią i organizatorką Tipi UX - meetupów w Poznaniu, Warszawie i Trójmieście.






