%section.page-section
  %h1 Dziewiąte spotkanie

  .details
    %dl.detail-date
      %dt.hidden Data spotkania
      %dd.detail-date-day 7 października 2016
      %dd.detail-date-time godzina 19:00
    %dl.detail-location
      %dt.hidden Miejsce spotkania
      %dd.detail-location-name <a href="http://monterail.com/">Monterail</a>
      %dd.detail-location-address Oławska 27-29 / 2 piętro

  %section.page-subsection
    %h1 Prezentacje

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/bartoszolchowka.jpg', class: 'avatar', alt: 'Bartosz Olchówka'
      %dt.speaker-presentation-title Which problem do I solve?
      %dd.speaker-name Bartosz Olchówka
      %dd.speaker-presentation-description Opowiem o tym, jak ważne jest zrozumienie problemu, zanim będziemy go w stanie dobrze rozwiązać. Przedstawię częste pułapki, które skutkują projektami potrzebnymi wszystkim... poza ich użytkownikami. Prezentacja będzie prowadzona w języku angielskim.



