%section.page-section
  %h1 Pierwsze spotkanie

  %dl
    %dt.hidden Data spotkania
    %dd 22 maj 2012, 18:00
  %dl
    %dt.hidden Miejsce spotkania
    %dd <a href="http://facebook.com/LOTKURY">Lot Kury</a>, ul. Ofiar Oświęcimskich 12, Wrocław

  %section.page-subsection
    %h1 Prezentacje

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/lucyna.jpg', class: 'avatar', alt: 'Lucyna Frank'
      %dt.speaker-presentation-title Live chat 2.0
      %dd.speaker-name Lucyna Frank, <a href="http://livechatinc.com/">LiveChat</a>
      %dd.speaker-presentation-description #{lorem.sentences 3}.

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/jakub.jpg', class: 'avatar', alt: 'Jakub Andrzejewski'
      %dt.speaker-presentation-title Profile UX: <span class="speaker-name">Jakub Andrzejewski, <a href="http://blstream.com/">BLStream</a></span>
      %dd.speaker-presentation-description--special Postacie ze świata <abbr title="User Experience">UX</abbr>, <abbr title="Architektura informacji">AI</abbr> i&nbsp;<abbr title="Human–Computer Interaction">HCI</abbr> opowiadają swoje historie.
      %dd.speaker-presentation-description Jego przygoda z&nbsp;projektowaniem interfejsów i&nbsp;badaniem użyteczności zaczęła się w&nbsp;2004 roku. Na&nbsp;swojej drodze zahaczył o&nbsp;Honeywell w&nbsp;Minneapolis, agencję Janmedia Interactive, a&nbsp;obecnie przebywa w&nbsp;BLStream. W&nbsp;jego historii znalazło się m.in.&nbsp;miejsce na&nbsp;organizację wrocławskich <abbr title="Wrocław Usability Day">WUD</abbr>ów, 4&nbsp;patenty i&nbsp;książkę <cite>Effective Operator Display&nbsp;Design</cite>.

  %section.page-subsection
    %h1 Zapisz się
    %iframe{ src: 'http://www.eventbrite.com/tickets-external?eid=6572471439&ref=etckt&v=2', height: 214, scrolling: 'auto', allowtransparency: 'true' }
