%section.page-section
  %h1 Drugie spotkanie

  .details
    %dl.detail-date
      %dt.hidden Data spotkania
      %dd.detail-date-day 24 lipca 2013
      %dd.detail-date-time godzina 19:00
    %dl.detail-location
      %dt.hidden Miejsce spotkania
      %dd.detail-location-name <a href="http://facebook.com/LOTKURY">Lot Kury</a>
      %dd.detail-location-address ul. Ofiar Oświęcimskich 17

  %section.page-subsection
    %h1 Prezentacje i zapisy
    %p Szczegóły spotkania zostaną wkrótce ogłoszone.
