%section.page-section
  %h1 Dwunaste spotkanie

  .details
    %dl.detail-date
      %dt.hidden Data spotkania
      %dd.detail-date-day 26 maja 2016
      %dd.detail-date-time godzina 19:00
    %dl.detail-location
      %dt.hidden Miejsce spotkania
      %dd.detail-location-name <a href="http://monterail.com/">Monterail</a>
      %dd.detail-location-address Oławska 27-29 / 2 piętro

  %section.page-subsection
    %h1 Prezentacje

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/stanislaw-plebanek.jpg', class: 'avatar', alt: 'Stanisław Plebanek'
      %dd.speaker-imagee= image_tag 'avatars/robert-czech.jpg', class: 'avatar', alt: 'Robert Czech'
      %dt.speaker-presentation-title TWI-JM (Training Within Industry-Job Methods)
      %dd.speaker-name Stanisław Plebanek & Robert Czech
      %dd.speaker-presentation-description Robert i Staszek z Lean Enterprise Institute Polska podzielą się swoim doświadczeniem jako… użytkownicy urządzeń J, a także jako eksperci od Lean Management i doskonalenia procesów. W swojej prezentacji pt. „Wykorzystanie metod doskonalenia pracy do skrócenia czasu interakcji użytkownika” chłopaki pokażą nam co łączy Rózię Nitowaczkę, hale produkcyjne i użyteczność.

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/kamil-nicieja.jpg', class: 'avatar', alt: 'Kamil Nicieja'
      %dt.speaker-presentation-title Specyfikacje dla realnego świata
      %dd.speaker-name Kamil Nicieja
      %dd.speaker-presentation-description Czasy, w których modne było pisanie specyfikacji produktowych mających po 200 stron, odeszły już dawno do lamusa. Pozostaje jednak pytanie: co zamiast? Specification by Example (SbE) to zestaw siedmiu prostych praktyk, dzięki którym zespołowe specyfikowanie staje się łatwe i naturalne. SbE pozwala na tworzenie tzw.  specyfikacji wykonywalnych — napisanych w formie tekstowej w języku angielskim, które po prostej obróbce przez programistów i testerów stają się zestawem testów automatycznych. Jeśli zastanawiasz się, w jaki sposób designerzy mogą uczestniczyć w pisaniu testów automatycznych, w jaki sposób design może realnie wpływać na powstający w oparciu o specyfikacje kod, ta prezentacja jest właśnie dla Ciebie.
      %dd.speaker-presentation-description Kamil Nicieja to programista i product manager, który tworzył produkty dla firm i startupów z całego świata. Wieloletnie doświadczenia w tej dziedzinie przekuł na książkę "Writing Great Specifications: Using Specification by Example and Gherkin", wydanej przez Manning Publications. Obecnie prowadzi własny startup Ada — personalny asystent do wynajmu napędzany sztuczną inteligencją, który pomoże Ci znaleźć Twoje następne mieszkanie.


