%section.page-section
  %h1 Jedenaste spotkanie

  .details
    %dl.detail-date
      %dt.hidden Data spotkania
      %dd.detail-date-day 3 marca 2016
      %dd.detail-date-time godzina 19:00
    %dl.detail-location
      %dt.hidden Miejsce spotkania
      %dd.detail-location-name <a href="http://monterail.com/">Monterail</a>
      %dd.detail-location-address Oławska 27-29 / 2 piętro

  %section.page-subsection
    %h1 Prezentacje

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/pawelwalczak.jpg', class: 'avatar', alt: 'Paweł Walczak'
      %dt.speaker-presentation-title Nie jestem przekonany. Czy to dobry kierunek? - współpraca między Klientem, UX Researcherem i UX Designerem.
      %dd.speaker-name Paweł Walczak
      %dd.speaker-presentation-description UX Researcher w agencji badawczo-projektowej Cogision, odpowiada za procesy warsztatowo-badawcze. Doświadczenie zdobył przy realizacji projektów m.in. dla firm: IKEA, Play, Agora, Polskie Parki Narodowe, mfind oraz branży start-upowej.
      %dd.speaker-presentation-description Fan dobrze zaprojektowanych i pomysłowych przedmiotów, projektowania User Center Design -  skoncentrowanego na użytkowniku, wierząc w jego nad-przeciętną moc. W wolnych chwilach interesuje się obszarami związanymi ze strategią produktu, brandingiem firm i strategią komunikacji.



