%section.page-section
  %h1 Ósme spotkanie

  .details
    %dl.detail-date
      %dt.hidden Data spotkania
      %dd.detail-date-day 17 czerwca 2016
      %dd.detail-date-time godzina 19:00
    %dl.detail-location
      %dt.hidden Miejsce spotkania
      %dd.detail-location-name <a href="http://monterail.com/">Monterail</a>
      %dd.detail-location-address Oławska 27-29 / 2 piętro

  %section.page-subsection
    %h1 Prezentacje

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/dmytro.jpg', class: 'avatar', alt: 'Dmytro Svarytsevych'
      %dt.speaker-presentation-title Discovering hidden contexts through experience maps
      %dd.speaker-presentation-description Are satisfaction surveys as honest as they should be? How to understand the real picture? “The weakest link” defines the impression of the whole service. Use of experience maps help concentrating on what's important without losing little big details. Such approach gives benefit to the whole product team: PM, UX, BA, Developers and QAs.
      %dd.speaker-name Dmytro Svarytsevych
      %dd.speaker-presentation-description Dmytro has been in the industry for more than 13 years and specialise in User Interface and Interaction design, Information Architecture and User Experience. Apart from developing effective user interfaces, wire framing, prototyping and ensuring success through user testing methodologies, is promoting UX as a function/service within organisation by trainings and workshops.
