%section.page-section
  %h1 Drugie spotkanie

  .details
    %dl.detail-date
      %dt.hidden Data spotkania
      %dd.detail-date-day 24 lipca 2013
      %dd.detail-date-time godzina 19:00
    %dl.detail-location
      %dt.hidden Miejsce spotkania
      %dd.detail-location-name <a href="http://facebook.com/LOTKURY">Lot Kury</a>
      %dd.detail-location-address ul. Ofiar Oświęcimskich 17

  %section.page-subsection
    %h1 Prezentacje

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/katarzyna.jpg', class: 'avatar', alt: 'Katarzyna Kozikowska'
      %dt.speaker-presentation-title Video prototyping — łatwy sposób na wizualizację niełatwego pomysłu
      %dd.speaker-name Katarzyna Kozikowska, <a href="http://lemonsky.pl/">Lemon Sky</a>
      %dd.speaker-presentation-description Jak przetestować i ocenić wstępny projekt aplikacji na urządzenie, do którego mamy ograniczony dostęp? Jak w jasny i czytelny sposób zobrazować złożone interakcje? <em>Kiedy stanęliśmy przed tymi wyzwaniami, wykorzystaliśmy papier, nożyczki i kamerę, aby szybko przygotować dla klienta koncept aplikacji na Microsoft Surface. I udało się!</em>


    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/tomasz.jpg', class: 'avatar', alt: 'Tomasz Karwatka'
      %dt.speaker-presentation-title Profile UX: <span class="speaker-name">Tomasz Karwatka, <a href="http://divante.pl/">Divante</a></span>
      %dd.speaker-presentation-description--special Postacie ze świata <abbr title="User Experience">UX</abbr>, <abbr title="Architektura informacji">AI</abbr> i&nbsp;<abbr title="Human–Computer Interaction">HCI</abbr> opowiadają swoje historie.
      %dd.speaker-presentation-description Pionier web usability w Polsce. To jemu zawdzięczamy popularność usability w branży interaktywnej. Stworzył bezpłatny ebook <cite>Kurs Usability,</cite> współorganizował pierwszy polski World Usability Day, jest także autorem książki <cite>Usability w e-Biznesie.</cite> I choć obecnie bliżej mu do e-commerce i e-marketingu, to na stałe wpisał się do historii polskiego UX.
