%section.page-section
  %h1 Trzynaste spotkanie

  .details
    %dl.detail-date
      %dt.hidden Data spotkania
      %dd.detail-date-day 8 grudnia 2017
      %dd.detail-date-time godzina 19:00
    %dl.detail-location
      %dt.hidden Miejsce spotkania
      %dd.detail-location-name <a href="http://monterail.com/">Monterail</a>
      %dd.detail-location-address Oławska 27-29 / 2 piętro

  %section.page-subsection
    %h1 Prezentacje

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/lukasz-przywarty.jpg', class: 'avatar', alt: 'Łukasz Przywarty'
      %dt.speaker-presentation-title Skuteczna współpraca z programistami
      %dd.speaker-name Łukasz Przywarty
      %dd.speaker-presentation-description Garść konkretnych wskazówek na temat tego, jak rozmawiać z inżynierami, jak zrozumieć programistę, i co należy wiedzieć, aby przygotować projekt gotowy na zderzenie z rzeczywistością.
      %dd.speaker-presentation-description Łukasz Przywarty jest designerem i front-end developerem w <a href="http://infermedica.com/">Infermedica</a>. Zawodowo zajmuje się rozwiązywaniem problemów. Wspólnie z zespołem tworzy technologie diagnostyczne oparte na sztucznej inteligencji (AI) i machine learning. Produkty Infermedica są używane przez czołowe firmy ubezpieczeniowe i medyczne z całego świata.


