%section.page-section
  %h1 Szóste spotkanie

  .details
    %dl.detail-date
      %dt.hidden Data spotkania
      %dd.detail-date-day 11 grudnia 2015
      %dd.detail-date-time godzina 19:00
    %dl.detail-location
      %dt.hidden Miejsce spotkania
      %dd.detail-location-name <a href="http://monterail.com/">Monterail</a>
      %dd.detail-location-address Oławska 27-29 / 2 piętro

  %section.page-subsection
    %h1 Prezentacje

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/wieslaw.jpg', class: 'avatar', alt: 'Wiesław Kotecki'
      %dt.speaker-presentation-title Experience Economy — ważne jest to co jest naprawdę ważne — czyli o nowej roli projektantów doświadczeń
      %dd.speaker-name Wiesław Kotecki, VP <a href="http://www.uselab.pl/">uselab</a>
      %dd.speaker-presentation-description Współzałożyciel w uselab - firmy która jako pierwsza w Europie środkowej uczyniła z zagadnień UX główny przedmiot swojej działalności. W uselab odpowiedzialny za doradztwo kluczowym klientom w obszarze budowania i wdrażania strategii User Experience.  Pracuje z liderami branży finansowej, telekomunikacyjnej, medialnej i innych. W Polsce i na 18 rynkach świata.
      %dd.speaker-presentation-description Czołowy specjalista UX w regionie. Strateg i konsultant. Doradca strategiczny w zespole ekspertów przy kancelarii Prezesa Rady ministrów. Wykładowca akademicki, miedzy innymi w Szkole Głównej Handlowej, Uniwersytecie SWPS, Collegium Civitas i innych.
      %dd.speaker-presentation-description Prelegent takich konferencji jak UX Cambridge, UX Poland, Interaction Buenos Aires,  EuroIA, Internet Beta, WUD Silesia, TedX
      %dd.speaker-presentation-description Jeden z pomysłodawców i członek rady programowej UX Poland – największej konferencji poświęconej UX w Europie Centralnej.
      %dd.speaker-presentation-description Prywatnie pasjonat science-fiction i kolekcjoner magensów na lodówkę z podróży.

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/joanna.png', class: 'avatar', alt: 'Joanna Sieniawska'
      %dt.speaker-presentation-title Profile UX: <span class="speaker-name">Joanna Sieniawska</span>
      %dd.speaker-presentation-description--special Postacie ze świata <abbr title="User Experience">UX</abbr>, <abbr title="Architektura informacji">AI</abbr> i&nbsp;<abbr title="Human–Computer Interaction">HCI</abbr> opowiadają swoje historie.
      %dd.speaker-presentation-description Joanna związana jest z wrocławską branżą UX od 2007 roku, kiedy to jeszcze popularniejszym terminem była użyteczność. Początkowo zajmowała się projektowaniem i badaniem użyteczności we wrocławskiej agencji interaktywnej Janmedia. Obecnie współtworzy Divante, gdzie przez kilka lat odpowiadała za rozwój działu UX. Jest wykładowcą na wrocławskich studiach podyplomowych UXD na SWPS i współautorem killku publikacji z dziedziny HCI.

  %section.page-subsection
    %h1 Dodatkowo
    %p Po prezentacjach odbędzie się podpisywanie książki "Badania jako Podstawa Projektowania User Experience" autorstwa Igi Mościchowskiej i Barbary Rogoś-Turek.
