%section.page-section
  %h1 Siódme spotkanie

  .details
    %dl.detail-date
      %dt.hidden Data spotkania
      %dd.detail-date-day 22 kwietnia 2016
      %dd.detail-date-time godzina 19:00
    %dl.detail-location
      %dt.hidden Miejsce spotkania
      %dd.detail-location-name <a href="http://monterail.com/">Monterail</a>
      %dd.detail-location-address Oławska 27-29 / 2 piętro

  %section.page-subsection
    %h1 Prezentacje

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/michał.jpg', class: 'avatar', alt: 'Michał Ondycz'
      %dt.speaker-presentation-title Proces projektowania aplikacji mobilnej oraz współpraca z developerami przy użyciu Sketch'a
      %dd.speaker-name Michał Ondycz
      %dd.speaker-presentation-description Michał to UI/UX Designer członek grupy UXABLE, pracujący we Wrocławskiej Firmie Better Software Group oraz student na kierunku "Programowanie urządzeń mobilnych". Na co dzień zajmuję się projektowaniem aplikacji mobilnych(iOS i Android) i stron internetowych, a w tym momencie aplikacjami na Apple TV.
      %dd.speaker-presentation-description Poza projektowaniem jest instruktorem tańca break dance ;)


    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/paulina.png', class: 'avatar', alt: 'Paulina Makuch'
      %dt.speaker-presentation-title Profile UX: <span class="speaker-name">Paulina Makuch</span>
      %dd.speaker-presentation-description--special Postacie ze świata <abbr title="User Experience">UX</abbr>, <abbr title="Architektura informacji">AI</abbr> i&nbsp;<abbr title="Human–Computer Interaction">HCI</abbr> opowiadają swoje historie.
      %dd.speaker-presentation-description Paulina to znana w Polsce specjalistka badań user experience: od badań potrzeb, przez testy użyteczności, na eyetrackingu skończywszy. Jest współzałożycielką warszawskiej firmy La Wonderlab, wcześniej zaś była UX Research Managerem w K2 i badaczką w uselab. Wykłada na SWPS, występuje na konferencjach, opublikowała dwa raporty badawcze: Prasa na iPada i Eyetracking Facebooka, a w wolnych chwilach pisze bloga WeFixUX.pl.
