%section.page-section
  %h1 Trzecie spotkanie

  .details
    %dl.detail-date
      %dt.hidden Data spotkania
      %dd.detail-date-day 22 października 2013
      %dd.detail-date-time godzina 19:00
    %dl.detail-location
      %dt.hidden Miejsce spotkania
      %dd.detail-location-name <a href="http://facebook.com/LOTKURY">Lot Kury</a>
      %dd.detail-location-address ul. Ofiar Oświęcimskich 17

  %section.page-subsection
    %h1 Prezentacje

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/krzysztof.jpg', class: 'avatar', alt: 'Krzysztof Kubasek'
      %dt.speaker-presentation-title Codzienność rzeczy — o&nbsp;projektowaniu z&nbsp;myślą o&nbsp;człowieku
      %dd.speaker-name Krzysztof Kubasek, <a href="http://produktdizajn.pl/studio.html">produktDizajn Studio</a>
      %dd.speaker-presentation-description Projektant wzornictwa przemysłowego, założyciel oraz lider produktDizajn Studio.
      %dd.speaker-presentation-description Jego działalność koncentruje się na projektowaniu innowacyjnych rozwiązań  dla przedsiębiorstw uwzględniając aspekty ergonomii, technologii oraz możliwości komputerowego wspierania wytwarzania. Głównym celem jego pracy jest aby powstały produkt był przyjazny dla użytkownika. Wraz z Politechniką Wrocławską pracuje nad projektami robotów społecznych poprawiających jakość życia ludzi.
      %dd.speaker-presentation-description Jego prace prezentowane były m.in. na Arena Design Poznań, London Science Museum, FLASH on Innovations–Technology–Machines Poland Fair, Technology ISH Exposition Frankfurt, CEBIT Hannover, Robots on Tour, Zurich, Szwajcaria.
      %dd.speaker-presentation-description Na Wrocławskiej Akademii Sztuk Pięknych prowadzi badania naukowe na temat zrównoważonego rozwoju w produkcji produktów codziennego użytku. Założyciel Koła Naukowego Pawilon De Factory we Wrocławiu, animującego postawy ekologiczne.

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/anna.jpg', class: 'avatar', alt: 'Anna Liszewska'
      %dt.speaker-presentation-title Profile UX: <span class="speaker-name">Anna Liszewska, <a href="http://objectivity.pl/">Objectivity</a></span>
      %dd.speaker-presentation-description--special Postacie ze świata <abbr title="User Experience">UX</abbr>, <abbr title="Architektura informacji">AI</abbr> i&nbsp;<abbr title="Human–Computer Interaction">HCI</abbr> opowiadają swoje historie.
      %dd.speaker-presentation-description Specjalista User Experience z wieloletnim doświadczeniem w branży. Pracując w agencjach interaktywnych dla klientów w Polsce i zagranicą miała okazje zdobyć doświadczenie w wielu obszarach projektowych
      %dd.speaker-presentation-description W Objectivity jako Specjalista ds. UX, wspiera tworzenie użytecznego i&nbsp;zrozumiałego dla użytkowników oprogramowania. Pracuje również nad edukacją zespołów tak by projektowanie zorientowane na użytkownika było integralną częścią tworzenia produktów firmy.

  %section.page-subsection
    %h1 Zapisz się
    %p Przeanalizowaliśmy Wasze głosy z ankiety i zrezygnowaliśmy z konieczności rejestracji Eventbrite. <a href="https://www.facebook.com/events/214140288760883/">Wystarczy dopisać się do wydarzenia na Facebooku!</a> :)
