%section.page-section
  %h1 Czwarte spotkanie

  .details
    %dl.detail-date
      %dt.hidden Data spotkania
      %dd.detail-date-day 24 lipca 2014
      %dd.detail-date-time godzina 19:00
    %dl.detail-location
      %dt.hidden Miejsce spotkania
      %dd.detail-location-name TBA

  %section.page-subsection
    %h1 Prezentacje

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/trzewiczek.png', class: 'avatar', alt: 'Krzysztof Trzewiczek'
      %dt.speaker-presentation-title Przypadek Cooleafa: użytkownik nie zawsze jest w centrum
      %dd.speaker-name Krzysztof Trzewiczek, <a href="http://monterail.com">Monterail</a>
      %dd.speaker-presentation-description Cooleaf miał być społecznościową platformą ludzi dbających o zdrowy tryb życia. Z jednej strony zapewniał wszystkie podstawowe mechanizmy współczesnych portali społecznościowych, z drugiej zaś zbudowany był wokół katalogu wydarzeń i programów oferowanych przez miejscowe kluby, siłownie, trenerów.
      %dd.speaker-presentation-description W trakcie prac nad projektem okazało się jednak, że budowanie architektury informacji wokół indywidualnego użytkownika jest pułapką i nie odzwierciedla realnych zadań narzędzia. Osią Cooleafa jest bowiem wydarzenie wraz z jego zmieniającym się w czasie charakterem.
      %dd.speaker-presentation-description Prezentacja pokaże jak przejście z architektury opartej na użytkowniku do architektury opartej na wydarzeniu pozwoliło zredefiniować produkt oraz przeprojektować całą aplikację.

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/none.png', class: 'avatar', alt: 'TBA'
      %dt.speaker-presentation-title Profile UX: <span class="speaker-name">TBA</span>
      %dd.speaker-presentation-description--special Postacie ze świata <abbr title="User Experience">UX</abbr>, <abbr title="Architektura informacji">AI</abbr> i&nbsp;<abbr title="Human–Computer Interaction">HCI</abbr> opowiadają swoje historie.

  %section.page-subsection
    %h1 Zapisz się
    %p Zachęcamy do <a href="https://www.facebook.com/events/675819359172208/">potwierdzania swojego udziału na Facebooku</a>
    <div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-post" data-href="https://www.facebook.com/UXWroclaw/posts/628092183955481" data-width="466"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/UXWroclaw/posts/628092183955481">Post</a> użytkownika <a href="https://www.facebook.com/UXWroclaw">UX Wrocław</a>.</div></div>
