%section.page-section
  %h1 Pierwsze spotkanie

  .details
    %dl.detail-date
      %dt.hidden Data spotkania
      %dd.detail-date-day 22 maja 2012
      %dd.detail-date-time godzina 19:00
    %dl.detail-location
      %dt.hidden Miejsce spotkania
      %dd.detail-location-name <a href="http://facebook.com/LOTKURY">Lot Kury</a>
      %dd.detail-location-address ul. Ofiar Oświęcimskich 12

  %section.page-subsection
    %h1 Prezentacje

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/lucyna.jpg', class: 'avatar', alt: 'Lucyna Frank'
      %dt.speaker-presentation-title LiveChat 2.0 — zacznijmy od czystej kartki
      %dd.speaker-name Lucyna Frank, <a href="http://livechatinc.com/">LiveChat</a>
      %dd.speaker-presentation-description LiveChat to jeden z&nbsp;prężniej rozwijających się produktów powstających we&nbsp;Wrocławiu. Przez ostatnie półtora roku, zespół pracował nad stworzeniem go praktycznie od&nbsp;nowa. Wieloletnia obecność na rynku, wnioski z&nbsp;badań z&nbsp;użytkownikami, świeże spojrzenie i&nbsp;nowe trendy w&nbsp;aplikacjach webowych sprawiły, że praca projektantów była prawdziwym wyzwaniem. Lucyna opowie o&nbsp;drodze od nieśmiałych fantazji do spójnej wizji użytecznego produktu — o tym, jak „świetne” pomysły okazują się nietrafione, a&nbsp;porażki doprowadzają do lepszych pytań <em>i&nbsp;lepszych odpowiedzi.</em>

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/jakub.jpg', class: 'avatar', alt: 'Jakub Andrzejewski'
      %dt.speaker-presentation-title Profile UX: <span class="speaker-name">Jakub Andrzejewski, <a href="http://blstream.com/">BLStream</a></span>
      %dd.speaker-presentation-description--special Postacie ze świata <abbr title="User Experience">UX</abbr>, <abbr title="Architektura informacji">AI</abbr> i&nbsp;<abbr title="Human–Computer Interaction">HCI</abbr> opowiadają swoje historie.
      %dd.speaker-presentation-description Jego przygoda z&nbsp;projektowaniem interfejsów i&nbsp;badaniem użyteczności zaczęła się w&nbsp;2004 roku. Na&nbsp;swojej drodze zahaczył o&nbsp;Honeywell w&nbsp;Minneapolis, agencję Janmedia Interactive, a&nbsp;obecnie przebywa w&nbsp;BLStream. W&nbsp;jego historii znalazło się m.in.&nbsp;miejsce na organizację wrocławskich <abbr title="Wrocław Usability Day">WUD</abbr>ów, 4&nbsp;patenty i&nbsp;książkę <cite>Effective Operator Display&nbsp;Design</cite>.

  %section.page-subsection
    %h1 Zapisz się
    %iframe{ src: 'http://www.eventbrite.com/tickets-external?eid=6572471439&ref=etckt&v=2', height: 214 }
