%section.page-section
  %h1 Pierwsze spotkanie

  %dl
    %dt.hidden Data spotkania
    %dd 22 maj 2012, 18:00
  %dl
    %dt.hidden Miejsce spotkania
    %dd <a href="http://facebook.com/LOTKURY">Lot Kury</a>, ul. Ofiar Oświęcimskich 12, Wrocław

  %section.page-subsection
    %h1 Prezentacje

    %dl
      %dt Live chat 2.0
      %dd Lucyna Frank, <a href="http://livechatinc.com/">LiveChat</a>

    %dl
      %dt Profile UX: Jakub Andrzejewski, <a href="http://blstream.com/">BLStream</a>
      %dd Postacie ze świata <abbr title="User Experience">UX</abbr>, <abbr title="Architektura informacji">AI</abbr> i&nbsp;<abbr title="Human–Computer Interaction">HCI</abbr> opowiadają swoje historie.
      %dd Jego przygoda z projektowaniem interfejsów i badaniem użyteczności zaczęła się w 2004 roku. Na swojej drodze zahaczył o Honeywell w Minneapolis, agencję Janmedia Interactive, a obecnie przebywa w BLStream. W jego historii znalazło się m.in. miejsce na organizację wrocławskich <abbr title="Wrocław Usability Day">WUD</abbr>ów, 4 patenty i książkę <cite>Effective Operator Display Design</cite>.

  %section.page-subsection
    %h1 Zapisz się
    %iframe{ src: 'http://www.eventbrite.com/tickets-external?eid=6572471439&ref=etckt&v=2', height: 214, scrolling: 'auto', allowtransparency: 'true' }
