%section.page-section
  %h1 Piąte spotkanie

  .details
    %dl.detail-date
      %dt.hidden Data spotkania
      %dd.detail-date-day 27 października 2014
      %dd.detail-date-time godzina 19:00
    %dl.detail-location
      %dt.hidden Miejsce spotkania
      %dd.detail-location-name <a href="http://ii.uni.wroc.pl/informacje_ogolne">Instytut Informatyki UWr</a>
      %dd.detail-location-address sala 25

  %section.page-subsection
    %h1 Prezentacje

    %dl.speaker
      %dd.speaker-image--small= image_tag 'avatars/marcin-sienko.jpg', class: 'avatar', alt: 'Marcin Sieńko'
      %dd.speaker-image--small= image_tag 'avatars/katarzyna-malkiewicz.jpg', class: 'avatar', alt: 'Katarzyna Małkiewicz'
      %dt.speaker-presentation-title Czy Smart TV jest „smart”?
      %dd.speaker-name Katarzyna Małkiewicz, Marcin Sieńko, <a href="http://witflow.com">WitFlow</a>
      %dd.speaker-presentation-description Tego lata to pytanie zadał sobie zespół badawczy WitFlow. Stosując aż 3 różne metody badawcze przyjrzeliśmy się blaskom i cieniom technologii smart TV. W projekcie badawczym poświęconym user experience "smartów" wzięli udział zarówno nowicjusze, jak i doświadczeni użytkownicy. Zanim pełny raport ujrzy światło dzienne, opowiemy nieco o tym, co udało nam się odkryć. Uchylimy też rąbka badawczych tajemnic i ciekawostek.

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/julita-koszur.jpg', class: 'avatar', alt: 'Julita Koszur'
      %dt.speaker-presentation-title Profile UX: <span class="speaker-name">Julita Koszur</span>
      %dd.speaker-presentation-description--special Postacie ze świata <abbr title="User Experience">UX</abbr>, <abbr title="Architektura informacji">AI</abbr> i&nbsp;<abbr title="Human–Computer Interaction">HCI</abbr> opowiadają swoje historie.
      %dd.speaker-presentation-description Jedna z pierwszych osób, które prowadziły we Wrocławiu badania użyteczności. Doktor psychologii, psycholog społeczny, adiunkt we wrocławskim wydziale Szkoły Wyższej Psychologii Społecznej. Od 2007 roku współpracuje z agencjami interaktywnymi realizując badania z zakresu użyteczności, UX, analizy potrzeb użytkowników, marketingu interaktywnego (testy z udziałem użytkowników, IDI, FGI, badania ilościowe, eyetracking). Współrealizowała projekty m.in. dla BZ WBK, Deutsche Bank, Inteligo, Aluprof, Gazeta Praca, Leroy Merlin, Polskich Portów Lotniczych, TIM SA, Polskiego Radia, Grupy Paradyż.

  %section.page-subsection
    %h1 Zapisz się
    %p TBA
