%section.page-section
  %h1 Dziewiąte spotkanie

  .details
    %dl.detail-date
      %dt.hidden Data spotkania
      %dd.detail-date-day 7 października 2016
      %dd.detail-date-time godzina 19:00
    %dl.detail-location
      %dt.hidden Miejsce spotkania
      %dd.detail-location-name <a href="http://monterail.com/">Monterail</a>
      %dd.detail-location-address Oławska 27-29 / 2 piętro

  %section.page-subsection
    %h1 Prezentacje

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/piotrzrolka.jpg', class: 'avatar', alt: 'Piotr Źrołka'
      %dt.speaker-presentation-title Jak dostępność (ang. accessibility) zmieniła moje podejście do projektowania?
      %dd.speaker-name Piotr Źrołka
      %dd.speaker-presentation-description Piotrek opowie o tym, czym jest dostępność i dlaczego jest ona tak ważna oraz zaprezentuje studium przypadku z najstarszym na świecie uniwersytetem w tle.

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/marcinmnich.jpg', class: 'avatar', alt: 'Marcin Mnich'
      %dt.speaker-presentation-title PRO prototyping
      %dd.speaker-name Marcin Mnich
      %dd.speaker-presentation-description O tym jak zaawansowany prototyp działa na zespół, osoby decyzyjne, użytkowników, researcherów i samego projektanta. Dlaczego warto umieszczać klikalny prototyp w centrum procesu i jak szybko zacierać granice między ideą, a działającym produktem.
      %dd.speaker-presentation-description Wrocławski UX Designer skupiający się na projektowaniu czystych i funkcjonalnych aplikacji w ścisłej współpracy z użytkownikami, badaczami oraz deweloperami. Specjalizujący się w usability, prototypowaniu oraz architekturze informacji. Doświadczony w obszarach medycznych, naukowych, aplikacji mobilnych oraz desktopowych. Aktualnie szczęśliwy UX Designer w Opera Software oraz pasjonat VR.


