%section.page-section
  %h1 Jedenaste spotkanie

  .details
    %dl.detail-date
      %dt.hidden Data spotkania
      %dd.detail-date-day 3 marca 2016
      %dd.detail-date-time godzina 19:00
    %dl.detail-location
      %dt.hidden Miejsce spotkania
      %dd.detail-location-name <a href="http://monterail.com/">Monterail</a>
      %dd.detail-location-address Oławska 27-29 / 2 piętro

  %section.page-subsection
    %h1 Prezentacje

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/pawelwalczak.jpg', class: 'avatar', alt: 'Paweł Walczak'
      %dt.speaker-presentation-title Nie jestem przekonany. Czy to dobry kierunek? - współpraca między Klientem, UX Researcherem i UX Designerem.
      %dd.speaker-name Paweł Walczak
      %dd.speaker-presentation-description UX Researcher w agencji badawczo-projektowej Cogision, odpowiada za procesy warsztatowo-badawcze. Doświadczenie zdobył przy realizacji projektów m.in. dla firm: IKEA, Play, Agora, Polskie Parki Narodowe, mfind oraz branży start-upowej.
      %dd.speaker-presentation-description Fan dobrze zaprojektowanych i pomysłowych przedmiotów, projektowania User Center Design -  skoncentrowanego na użytkowniku, wierząc w jego nad-przeciętną moc. W wolnych chwilach interesuje się obszarami związanymi ze strategią produktu, brandingiem firm i strategią komunikacji.

    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/agnieszkatkaczyk.jpg', class: 'avatar', alt: 'Agnieszka Tkaczyk'
      %dt.speaker-presentation-title Krav maga, salsa i UX - czyli historia o wprowadzeniu kultury User Experience do firmy
      %dd.speaker-name Agnieszka Tkaczyk
      %dd.speaker-presentation-description Projektantka UX, absolwentka dziennikarstwa i komunikacji społecznej na UWr oraz podyplomowych studiów UXD na SWPS.
      %dd.speaker-presentation-description Projektuje i doradza, patrząc na produkt jako całość, służącą różnym i często sprzecznym interesom. Dużą satysfakcję sprawia jej tworzenie skutecznych rozwiązań, które potrafią te interesy pogodzić. Swój warsztat projektanta rozwijała m.in. w pracy nad oprogramowaniem dla inżynierów sieci telekomunikacyjnych. Fascynuje ją technologia, która pomaga zmieniać świat.


    %dl.speaker
      %dd.speaker-image= image_tag 'avatars/katarzynarychcinska.jpg', class: 'avatar', alt: 'Katarzyna Rychcińska'
      %dd.speaker-image= image_tag 'avatars/nataliastrojek.jpg', class: 'avatar', alt: 'Natalia Strojek'
      %dt.speaker-presentation-title Razem do celu, czyli jak budować produkt w oparciu o współpracę UX-PO
      %dd.speaker-name Katarzyna Rychcińska & Natalia Strojek
      %dd.speaker-presentation-description Kasia i Natalia opowiedzą o tym, jak pracują w tandemie UX-PO w hi-tech'owym startupie, tworzącym i oferującym zaawansowane rozwiązanie do analizy danych. Podzielą się swoimi przemyśleniami na temat trudnej sztuki polegania na swoich kompetencjach w całościowym procesie budowania produktu - od wizji do implementacji. Oczywiście z uwzględnieniem perspektywy użytkownika.






